// Partial SCSS file containing color variables

// ============================================
// COLORS
// ============================================

// === LIGHT THEME ========================
$light: (
    1000: #000000,
    900: #1A1A1A,
    700: #5E5E5E,
    100: #E2D9D4,
    100trans: rgba(226, 217, 212, 0%),
    50: #F2E8DE,
    20: #FAF5F0,
    0: #FFFFFF,

    am-800: #D4401C,
    am-700: #E55B39,
    am-highlight: #FFA55C,
    am-shadow: #C4154B,
    am-separator: rgba(255, 167, 143, 50%),

    pm-800: #3645E7,
    pm-700: #3F4CE8,
    pm-highlight: #54ACFF,
    pm-shadow: #411CC7,
    pm-separator: rgba(117, 129, 255, 50%),
)