// Partial SCSS file containing global CSS styles

// === USE ====================================
@use 'variables' as *;

// === IMPORTS ================================
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* ============================================
GLOBAL
============================================ */

:global(*) {
    font-family: 'Inter', sans-serif;
}

:global(body) {
    background-color: var(--clr-100);
}

#main {
    --_portrait-width: 50%; 
    --_pad-left: calc(var(--nav-size) + (var(--pad-hrz) / 2));

    max-width: var(--maxWidth);

    padding: 
        0
        var(--pad-hrz)
        0
        var(--_pad-left);
    margin: 0 auto;

    &.twoCol {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(var(--twoCol-minWidth),1fr));

        min-height: 100vh;

        #text__col {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding-left: var(--pad-hrz);
        }
    }
}

/* utility */
.visuallyHidden {
    /* elements with this class will not be displayed visually but still be read by screen readers */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* === BREAKPOINTS ======================== */
@media (orientation: portrait) {
    #main {
        gap: var(--pad-lg);
        width: var(--_portrait-width);
        max-width: calc(var(--maxWidth) * var(--_portrait-width));

        padding: var(--pad-lg) var(--pad-hrz) 0 var(--pad-hrz);
        margin: 0 auto;

        &.twoCol {
            grid-template-columns: 1fr;

            min-height: unset;

            #text__col {
                justify-content: center;
                padding-left: 0;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-smdesktop) {
    #main {
        --_portrait-width: 70%; 
        --_pad-left: calc(var(--nav-size) + (var(--pad-hrz) / 3));
    }
}

@media only screen and (max-width: $breakpoint-smdesktop) {
    #main {
        --_portrait-width: 100%; 
        --_pad-left: calc(var(--nav-size) + (var(--pad-hrz) / 4));
    }
}

