// Partial SCSS file containing global CSS styles

// === USE ====================================
@use 'variables' as *;

// === IMPORTS ================================
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* ============================================
GLOBAL
============================================ */

:global(*) {
    font-family: 'Inter', sans-serif;
}

:global(body) {
    background-color: var(--clr-100);
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(var(--twoCol-minWidth),1fr));

    min-height: 100vh;

    #text__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--pad-md);

        padding: var(--pad-lg) 0 var(--pad-lg) var(--pad-hrz);
    }
}

/* typography */
h1 {
    font-size: var(--fontSize-h1);

    animation: h1Fade 0.7s ease 1;
}

h2 {
    font-size: var(--fontSize-lg);
}

/* utility */
.visuallyHidden {
    /* elements with this class will not be displayed visually but still be read by screen readers */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* === BREAKPOINTS ======================== */
@media (orientation: portrait) {
    .twoCol {
        grid-template-columns: 1fr;

        min-height: unset;

        #text__col {
            align-items: center;
            padding-left: 0;
        }
    }

    /* typography */
    h1 {
        text-align: center;
    }
}

/* === ANIMATIONS ========================= */
@keyframes delayedFade {
    from { opacity: 0; }
    50% { opacity: 0; }
    to { opacity: 1; }
}

@keyframes h1Fade {
    from { opacity: 0; }
    40% { opacity: 0; }
    to { opacity: 1; }
}