// Partial SCSS file containing variables

// === USE ====================================
@use 'colors' as *;

/* ============================================
   VARIABLES
   ============================================ */

// === BREAKPOINTS ============================
$breakpoint-smdesktop: 1450px;
$breakpoint-tablet: 1250px;
$breakpoint-mobile: 650px;

:root {
    --pad-hrz: 70px;
    --pad-dial: 6%;
    --pad-lg: 35px;
    --pad-md: 25px;
    --pad-sm: 17px;
    --pad-xs: 10px;
    --pad-xxs: 6px;
    --pad-xxxs: 3px;

    --border-thick: 3.4px;
    --border-thin: 1.7px;
    --bradius-circle: 9e5px;
    --bradius-sm: 4px;
    --outline-default: 2px;
    --outline: solid var(--outline-default) var(--clr-outline);

    --maxWidth: 2000px;
    --twoCol-minWidth: 22em;

    --nav-a-size: 75px;
    --nav-size: calc(var(--nav-a-size) + 2 * var(--pad-hrz));

    --fontSize-h1: 1.8rem;
    --fontSize-lg: 1.3rem;
    --fontSize-md: 1.1rem;
    --fontSize-sm: 0.9rem;

    --trans-time-normal: 0.3s;
    --trans-normal: var(--trans-time-normal) ease;
    --trans-time-fast: 0.2s;
    --trans-fast: var(--trans-time-fast) ease;

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $light into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }

    // AM accent colors
    --clr-accent-800: var(--clr-am-800);
    --clr-accent-700: var(--clr-am-700);
    --clr-accent-highlight: var(--clr-am-highlight);
    --clr-accent-main: var(--clr-am-main);
    --clr-accent-shadow: var(--clr-am-shadow);
    --clr-accent-separator: var(--clr-am-separator);
    --clr-outline: var(--clr-outline-am);

    // nav icon colors
    --clr-navIcon-main: var(--clr-600);
    --clr-navIcon-secondary: var(--clr-100);
    --clr-navIcon-tertiary: var(--clr-700);
    --clr-navIcon-main-active: var(--clr-accent-800);
    --clr-navIcon-secondary-active: var(--clr-0);
    --clr-navIcon-tertiary-active: var(--clr-1000);
}

:global([data-period="PM"]) {
    // PM accent colors
    --clr-accent-800: var(--clr-pm-800);
    --clr-accent-700: var(--clr-pm-700);
    --clr-accent-highlight: var(--clr-pm-highlight);
    --clr-accent-main: var(--clr-pm-main);
    --clr-accent-shadow: var(--clr-pm-shadow);
    --clr-accent-separator: var(--clr-pm-separator);
    --clr-outline: var(--clr-outline-pm);

    // nav icon colors
    --clr-navIcon-main-active: var(--clr-accent-800);
}



/* ========================================
    BREAKPOINTS
    ======================================== */
@media (prefers-color-scheme: dark) {
    :root {
        /* dark theme */
        // parse $dark into CSS variables
        @each $name, $value in $dark {
            --clr-#{$name}: #{$value};
        }

        // nav icon colors
        --clr-navIcon-secondary-active: var(--clr-100);
        --clr-navIcon-tertiary-active: var(--clr-900);
    }
}

:global([data-theme="light"]) {
    /* light theme */
    // parse $light into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }
}

:global([data-theme="dark"]) {
    /* dark theme */
    // parse $dark into CSS variables
    @each $name, $value in $dark {
        --clr-#{$name}: #{$value};
    }
}

@media (orientation: portrait) {
    :root {
        --maxWidth: 860px;
    }
}

@media only screen and (max-width: $breakpoint-smdesktop) {
    :root {
        --pad-hrz: 35px;
        --pad-lg: 30px;
        --pad-md: 22px;
        --pad-sm: 15px;
        --pad-xs: 8px;
        --pad-xxs: 5px;
        --pad-xxxs: 2.5px;

        --border-thick: 3px;
        --border-thin: 1.5px;

        --twoCol-minWidth: 23em;

        --nav-a-size: 68px;

        --fontSize-h1: 1.7rem;
        --fontSize-lg: 1.25rem;
        --fontSize-md: 1.05rem;
        --fontSize-sm: 0.85rem;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    :root {
        --pad-hrz: 25px;
        --pad-lg: 28px;
        --pad-md: 21px;
        --pad-sm: 14px;
        --pad-xs: 7px;
        --pad-xxs: 5px;
        --pad-xxxs: 2.5px;

        --border-thick: 2.6px;
        --border-thin: 1.3px;

        --twoCol-minWidth: 18em;

        --nav-a-size: 65px;

        --fontSize-h1: 1.6rem;
        --fontSize-lg: 1.2rem;
        --fontSize-md: 1rem;
        --fontSize-sm: 0.8rem;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    :root {
        --border-thick: 2.2px;
        --border-thin: 1.1px;
    }
}