// Partial SCSS file containing variables

// === USE ====================================
@use 'colors' as *;

/* ============================================
   VARIABLES
   ============================================ */

// === BREAKPOINTS ============================
$breakpoint-smdesktop: 1450px;
$breakpoint-tablet: 1250px;
$breakpoint-mobile: 650px;

:root {
    --pad-hrz: 70px;
    --pad-dial: 6%;
    --pad-lg: 35px;
    --pad-md: 25px;
    --pad-sm: 17px;
    --pad-xs: 10px;
    --pad-xxs: 6px;

    --border-thin: 1.5px;
    --bradius-circle: 9e5px;

    --maxWidth: 2000px;
    --twoCol-minWidth: 22em;

    --nav-a-size: 75px;
    --nav-margin-1: 32px;
    --nav-margin-2: 8px;
    --nav-size: calc(var(--nav-a-size) + var(--nav-margin-1) + 1.5 * var(--pad-hrz));

    --trans-time-normal: 0.3s;
    --trans-normal: var(--trans-time-normal) ease;

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $light into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }

    // AM accent colors
    --clr-accent-800: var(--clr-am-800);
    --clr-accent-700: var(--clr-am-700);
    --clr-accent-highlight: var(--clr-am-highlight);
    --clr-accent-shadow: var(--clr-am-shadow);
    --clr-accent-separator: var(--clr-am-separator);
}

:global(.pm) {
    // PM accent colors
    --clr-accent-800: var(--clr-pm-800);
    --clr-accent-700: var(--clr-pm-700);
    --clr-accent-highlight: var(--clr-pm-highlight);
    --clr-accent-shadow: var(--clr-pm-shadow);
    --clr-accent-separator: var(--clr-pm-separator);
}



/* ========================================
    BREAKPOINTS
    ======================================== */
@media (orientation: portrait) {
    :root {
        --maxWidth: 860px;
    }
}

@media only screen and (max-width: $breakpoint-smdesktop) {
    :root {
        --pad-hrz: 35px;
        --pad-lg: 30px;
        --pad-md: 22px;
        --pad-sm: 15px;
        --pad-xs: 8px;
        --pad-xxs: 5px;

        --twoCol-minWidth: 23em;

        --nav-a-size: 68px;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    :root {
        --pad-hrz: 25px;
        --pad-lg: 28px;
        --pad-md: 21px;
        --pad-sm: 14px;
        --pad-xs: 7px;
        --pad-xxs: 5px;

        --twoCol-minWidth: 18em;

        --nav-a-size: 65px;
        --nav-margin-1: 24px;
        --nav-margin-2: 6px;
        --nav-size: calc(var(--nav-a-size) + var(--nav-margin-1) + 1.25 * var(--pad-hrz));
    }
}
